.product__container{
  .left{
    border: 1px solid rgb(223, 223, 223);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    width: 500px;
    padding: 2rem;
    border-radius: 5px;
    img{
      max-height: 500px;
    }
  }
  .right{
    padding: 20px;
    &__title{
      font-weight: 600;
    }
    &__desc{
      font-size: 15px;
      max-width: 500px;
    }
    &__price{
      margin-bottom: 0;
    }

    .price-quant-card{
      max-width: 300px;
      margin-top: 20px;

    }
    .quantity-card{
      background-color: rgb(228, 228, 228);
      padding: 0.5rem 0.8rem;
      border-radius: 20px;
    }
    &__btns{
      margin-top: 20px;
      max-width: 340px;
    }

    &__info{
      border: 1px solid rgb(207, 207, 207);
      max-width: 350px;
      margin-top: 20px;
      border-radius: 5px;
      hr{
        margin: 0;
      }
      .info-1,.info-2{
      padding: 0px 15px;
      padding-top: 10px;
      i{
        color: #7700FF;
        margin-right: 5px;
      }
      p{
        font-size: 12px;
      }
      }
    }
    
  }
}