.navbar{
  background-color: #FFCC56;
  &-nav {
    gap: 2rem;
    align-items: center;
    .dropdown-menu{
      .dropdown-item{
        cursor: pointer;
      }
    }
    .nav-item{
      a{
        text-decoration: none;
      }
      .fa-cart-shopping{
        position: relative;
      }
      .fa-cart-shopping .card-badge{
        width: 12px;
        height: 12px;
        font-size: 8px;
        padding: 2px;
        text-align: center;
        border-radius: 50%;
        display: block;
        background-color: rgb(220, 21, 21);
        position: absolute;
        top:-6px;
        right: -8px;

      }
    }
  }
}

